<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingqing.search.demo.mapper.MasterMapper">

    <resultMap id="BaseResultMap" type="com.qingqing.search.demo.domain.Master">
        <id column="id" property="id"/>
        <result column="age" property="age"/>
        <result column="grade" property="grade"/>
        <result column="sex" property="sex"/>
        <result column="name" property="name"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id` , `age`, `grade`, `sex`, `name`, `height`, `weight`
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> FROM master where id = 9
    </select>

</mapper>